// Colores
$primary: rgb(211, 104, 34);
$secondary: rgb(224, 29, 22);
$color-dark: #000;
$color-light: rgb(250, 244, 244);
$color-card: rgb(223, 26, 19);

// Fuentes
$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-content: 'Ubuntu', sans-serif;